
body{
    
    color: white;
    text-align: left;
    background-image: url("image-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 10px;
    background-color: black;
    line-height: 2.0;

    
  }

  .heading{
    align-items: center;
    text-align: center;
    padding: 15px;
  }

  form{
    padding: 30px;
    background-color: rgba(15, 7, 166, 0.801);
    color: white;
  }

 


  
.inputfield{
    height: 50px;
  
}
 

.comments-section{
  height:125px;
}
